{% extends 'base/landpagebase.html' %}
{% load static %}
{% block content %}


<br><br>
<!-- Main container Start -->  
<div class="main-container">
<div class="container">
  <div class="row">          
    <div class="col-lg-8 col-md-12 col-xs-12">
      <img src="../../../static/assets/img/about.png" alt="">
      <div style="color:rgb(66, 66, 66)" class="ad-detail-content">
        <h3>Yumi is a startup platform aimed at revolutionizing the E commerce space. We provide an indirect linkage from the buyer and seller:</h3>
        <blockquote><h4>" We give you authority to determine what you want from who and a wide range of prices per commodity to choose from."
        </h4></blockquote>
        <!-- <p>…or something like this:</p>              
        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        <blockquote><p>The XYZ Doohickey Company was founded in 1971, and has been providing quality doohickeys to the public ever since. Located in Gotham City, XYZ employs over 2,000 people and does all kinds of awesome things for the Gotham community.</p></blockquote>
        <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.</p> -->
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-xs-12 page-sidebar">
      <aside>
        <div class="inner-box">
          <div class="categories">
            <div class="widget-title">
              <i class="fas fa-align-justify"></i>
              <h4>All Categories</h4>
            </div>
            <div class="categories-list">
              <ul>
                {% if categories  %}
                {% for c in categories %}
              <li>
                <a href="{{ c.get_absolute_url }}">
                  <i class="fas fa-desktop"></i>
                  {{ c.name }} <span class="category-counter">( {{c.adverts_in_category}} ) </span>
                </a>
              </li>
            </li>
                {% endfor %}
                  {%else %}
                  <li>
                      <a href="#">
                        <i class="lnr lnr-sad"></i>
                       No Categories found Currently <span class="category-counter">(0)</span>
                      </a>
                 
                  {% endif %}
            </ul>
              </div>
          </div>
        </div>

        <div class="inner-box">
          <div class="widget-title">
            <h4>Premium Ads</h4>
          </div>
          <div class="advimg">
            <ul class="featured-list">
              <li>
                <img alt="" src="../../../static/assets/img/featured/img1.jpg">
                <div class="hover">
                  <a href="#"><span>$49</span></a>
                </div>
              </li>
              <li>
                <img alt="" src="../../../static/assets/img/featured/img2.jpg">
                <div class="hover">
                  <a href="#"><span>$49</span></a>
                </div>
              </li>
              <li>
                <img alt="" src="../../../static/assets/img/featured/img3.jpg">
                <div class="hover">
                  <a href="#"><span>$49</span></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="inner-box">
          <div class="widget-title">
            <h4>Advertisement</h4>
          </div>
          <img src="../../../static/assets/img/img1.jpg" alt="">
        </div>
      </aside>
    </div>
  </div>
</div>
</div>
<!-- Main container End -->      
<!-- Footer Section Start -->

{% include "base/landpagefooter.html" %}
{% include "base/js.html"  %}}
          <div id="ajax_response_login"></div>
          <div id="ajax_response_register"></div>
          <div id="ajax_logout"></div>
  {% endblock content %}