{% extends 'base/accountbase.html' %}

{% load staticfiles%}
{% block content %}

  <!-- Header Section Start -->
  <div class="header">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-inverse fixed-top scrolling-navbar" style=" box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2); ">
      <div class="container">
        <div class="theme-header clearfix">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-toggle="collapse" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              <span class="lni-menu"></span>
              <span class="lni-menu"></span>
              <span class="lni-menu"></span>
            </button>
            <a href="index.html" class="navbar-brand"><img src="{% static 'assets/img/logo.png" alt=""></a>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
                <li class="nav-item">
                    <a class="nav-link"  href="index.html">
                     Home
                    </a>
            
              <li class="nav-item">
                <a class="nav-link" href="/Ads">
               Listings
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    About 
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="about.html">About Us</a></li>
                  <li><a class="dropdown-item" href="pricing.html">Pricing Table</a></li>
                  
                  <!-- <li><a class="dropdown-item" href="ads-details.html">Ads Details</a></li>
                  <li><a class="dropdown-item" href="post-ads.html">Ads Post</a></li> -->
                  <!-- <li><a class="dropdown-item" href="404.html">404</a></li> -->
                  <li><a class="dropdown-item" href="faq.html">Faqs</a></li>
                  <li><a class="dropdown-item" href="contact.html">Contact us</a></li>

                </ul>
              </li>
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Blog
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="blog.html">Blog - Right Sidebar</a></li>
                  <li><a class="dropdown-item" href="blog-left-sideba.html">Blog - Left Sidebar</a></li>
                  <li><a class="dropdown-item" href="blog-full-width.html"> Blog full width </a></li>
                  <li><a class="dropdown-item" href="blog-details.html">Blog Details</a></li>
                </ul>
              </li> -->
           
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="lnr lnr-user"></i> My Account
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="account-home.html"><i class="lnr lnr-home"></i> Account Home</a></li>
                  <li><a class="dropdown-item" href="account-myads.html"><i class="lnr lnr-cart"></i> My Ads</a></li>
                  <li><a class="dropdown-item" href="account-favourite-ads.html"><i class="lnr lnr-heart"></i> Favourite ads</a></li>
                  <li><a class="dropdown-item" href="account-archived-ads.html"><i class="lnr lnr-file-add"></i>Saved ads</a></li>
                  <li><a class="dropdown-item" href="login.html"><i class="lnr lnr-lock"></i> Log In</a></li>
                  <li><a class="dropdown-item" href="signup.html"><i class="lnr lnr-user"></i> Signup</a></li>
                  <li><a class="dropdown-item" href="forgot-password.html"><i class="lnr lnr-sync"></i> Forgot Password</a></li>
                  <li><a class="dropdown-item" href="account-close.html"><i class="lnr lnr-cross"></i>Account close</a></li>
                </ul>
              </li>
              <li class="postadd">
                <a class="btn btn-common2 btn-post" href="{% url 'adverts:post_ad' %}"><span class="fas fa-plus-circle"></span> Post an Ad</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mobile-menu" data-logo="assets/img/logo.png"></div>
    </nav>
    <!-- Navbar End -->
  </div>
  <!-- Header Section End -->

  <!-- Page Header Start -->
  <!-- <div class="page-header" style="background: url(assets/img/banner1.jpg);">
    <div class="container">
      <div class="row">         
        <div class="col-md-12">
          <div class="breadcrumb-wrapper">
            <h2 class="page-title">Account Home</h2>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Page Header End --> 

  <!-- Start Content -->

    <div class="container">
      <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12 col-xs-12 page-content" >
                   
                      <div class="welcome-msg text-center">
                          


                          <h3 class=""  style="color:rgb(90, 88, 88)">{{ user.first_name }} Kindly Update your Profile</h3>
                         
                     
                      </div>
                      <div class="card-body text-center">
                  
                          {% include "profile/updateuserform.html" with form=profile_form %}
      
      
                    </div>
                   
                  </div>
     
        
       
      </div>  
    </div>      

  <!-- End Content -->
         
                



    {% include "base/js.html" %}  

    <div id="ajax_logout"></div>
    
    <!-- Modal -->
    <div id="ajax_modal_placeholder"
       name="ajax_modal_placeholder"></div>
    <!-- end modal -->
    <script>
            /**
             *  Function will call AJAX function to enroll into a specific course for the
             *  current logged on user.
             */
            function ajax_enroll(course_id)
            {
                var url = 'enroll';
        
                $.ajax( url, {
                   data: {
                       'course_id' : course_id,
                       'csrfmiddlewaretoken': '{{ csrf_token }}',
                   },
                   type: 'post',
                   success: function(result) {
                       // success code execution here
                       if (result.status == 'success')
                       {
                           window.location = 'course/' + course_id + '/announcements';
                       }
                   },
                   error: function(xhr,status,error) {
                       // error code here
                   },
                   complete: function(xhr,status) {
                       // completion code here
                   }
                });
            }
        </script>
    
    <script>
        function ajax_refresh_enrollments_table()
        {
            $.ajax( 'enrollment_table', {
                data: {
                   'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                type: 'post',
                   success: function(result) {
                   // success code execution here
                   $('#ajax_table_placeholder').html(result); // Update UI.
                },
                error: function(xhr,status,error) {
                   // error code here
                },
                complete: function(xhr,status) {
                   // completion code here
                }
            });
        }
        
        function ajax_continue_course(course_id)
        {
            var url = 'enroll';
        
            $.ajax( url, {
               data: {
                   'course_id' : course_id,
                   'csrfmiddlewaretoken': '{{ csrf_token }}',
               },
               type: 'post',
               success: function(result) {
                   // success code execution here
                   if (result.status == 'success')
                   {
                        window.location = 'course/' + course_id + '/announcement';
                   }
               },
               error: function(xhr,status,error) {
                   // error code here
               },
               complete: function(xhr,status) {
                   // completion code here
               }
            });
        }
        function ajax_disenroll_modal(course_id)
        {
            $('#del_' + course_id + '_btn').prop("disabled", true); // Lock button
            $.ajax( 'disenroll_modal', {
                data: {
                   'csrfmiddlewaretoken': '{{ csrf_token }}',
                   'course_id': course_id,
                },
                type: 'post',
                success: function(result) {
                   // success code execution here
                   $('#ajax_modal_placeholder').html(result); // Update UI.
                   $('#disenroll_modal').modal();             // Unhide view.
                },
                error: function(xhr,status,error) {
                   // error code here
                },
                complete: function(xhr,status) {
                   // completion code here
                }
            });
        }
           $(document).ready(function(){
            $('#disenroll_modal').on('hidden.bs.modal', function (e) {
                $('#ajax_modal_placeholder').html('');
                $('#del_{{ course.id }}_btn').prop("disabled", false); // Unlock button
            });
        });
        
        /**
         *  Function will call AJAX function to delete the teacher's course.
         */
        function ajax_disenroll_course(course_id)
        {
            $('#del_' + course_id + '_btn').prop("disabled", true); // Lock button
            $.ajax( 'disenroll', {
                data: {
                   'csrfmiddlewaretoken': '{{ csrf_token }}',
                   'course_id' : course_id
                },
                type: 'post',
                success: function(result) {
                   // success code execution here
                   if (result.status == 'success')
                   {
                        $('#disenroll_modal').modal('hide');
                        ajax_refresh_enrollments_table();
                   }
                },
                error: function(xhr,status,error) {
                   // error code here
                },
                complete: function(xhr,status) {
                   // completion code here
                   $('#del_' + course_id + '_btn').prop("disabled", false); // Unlock button
                }
            });
        }
    </script>
    {% endblock content %}