{% extends 'base/accountbase.html' %}
{% load static %}
{% block content %}


    <!-- Start Content -->
    <div id="content">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-12 col-lg-4 page-sidebar">
            <aside>
                {% if request.user %}
             
              <div class="sidebar-box">
                <div class="user">
                  <div class="usercontent">
                    <h3>My Ads > {{ user.first_name }} {{user.last_name }}</h3>
                  
                  </div>
                  {% if user.client.profile_pic %}
                  <figure>
                      <a href="#"><img class="-img-fluid" src="{{user.client.profile_pic.url}}" alt=""></a>
                    </figure>
                    {% else %}
                  <figure>
                    <a href="#"><img class="-img-fluid" src="{% static 'assets/img/author/img1.jpg' %}" alt=""></a>
                  </figure>
                  {% endif %}
                </div>
                <nav class="navdashboard">
                  <ul>
                    <li>
                      <a href="account-home.html">
                        <i class="fas fa-home"></i>
                        <span>Personal Home</span>
                      </a>
                    </li>
                    <li>
                      <a class="active" href="account-myads.html">
                        <i class="fas fa-credit-card"></i>
                        <span>My Ads</span>
                      </a>
                    </li>
                    <li>
                      <a href="account-favourite-ads.html">
                        <i class="fas fa-heart"></i>
                        <span>Favourite Ads</span>
                      </a>
                    </li>
                    <li>
                      <a href="account-saved-search.html">
                        <i class="fas fa-star"></i>
                        <span>Saved Search </span>
                      </a>
                    </li>
                    <li>
                      <a href="account-archived-ads.html">
                        <i class="fas fa-folder"></i>
                        <span>Archived Ads</span>
                      </a>
                    </li>
                    <li>
                      <a href="account-pending-approval-ads.html">
                        <i class="fas fa-hourglass"></i>
                        <span>Pending Approval</span>
                      </a>
                    </li>
                    <li>
                      <a href="account-close.html">
                        <i class="fas fa-times"></i>
                        <span>Close Account</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
              {% endif %}
              <div class="widget">
                <h4 class="widget-title">Advertisement</h4>
                <div class="inner-box">
                  <div class="add-box">
                    <img class="img-fluid" src="assets/img/img1.jpg" alt="">
                  </div>
                </div>
              </div>
            </aside>
          </div>

          <div class="col-lg-8 col-md-12 col-xs-12 page-content">
            <div class="inner-box">
              <h2 class="title-2"><i class="fas fa-credit-card"></i> My ADS</h2>
              <div class="table-responsive">
                <div class="table-action">
                  <div class="checkbox">
                    <label for="checkAll">
                      <input id="checkAll" type="checkbox">
                      Select: All | <a href="#" class="btn btn-xs btn-danger">Delete <i class="fas fa-times"></i></a>
                    </label>
                  </div>
                  <div class="table-search float-right">
                    <div class="form-group row">
                      <label class="mr-2 col-xs-5 control-label text-right">Search <br>
                        <a title="clear filter" class="clear-filter" href="#clear">[clear]</a> 
                      </label>
                      <div class="mr-3 col-xs-7 searchpan">
                        <input class="form-control" id="filter" type="text">
                      </div>
                    </div>
                  </div>
                </div>
                <table class="table table-striped table-bordered add-manage-table">
                  <thead>
                    <tr>
                      <th data-type="numeric"></th>
                      <th>Photo</th>
                      <th>Adds Details</th>
                      <th>Price</th>
                      <th>Option</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="add-img-selector">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox">
                          </label>
                        </div>
                      </td>
                      <td class="add-img-td">
                        <a href="ads-details.html">
                          <img class="img-fluid" src="assets/img/item/img-1.jpg" alt="img">
                        </a>
                      </td>
                      <td class="ads-details-td">
                        <h4><a href="ads-details.html">Brand New All about iPhones</a></h4>
                        <p> <strong> Posted On </strong>:
                        02-Oct-2020, 04:38 PM </p>
                        <p> <strong>Visitors </strong>: 221 <strong>Located In:</strong> New York </p>
                      </td>
                      <td class="price-td">
                        <strong> KSH 199</strong>
                      </td>
                      <td class="action-td">
                        <p><a class="btn btn-primary btn-xs"> <i class="fas fa-pencil-square-o"></i> Edit</a></p>
                        <p><a class="btn btn-info btn-xs"> <i class="fas fa-share-square-o"></i> Share</a></p>
                        <p><a class="btn btn-danger btn-xs"> <i class=" fas fa-trash"></i> Delete</a></p>
                      </td>
                    </tr>
                    <tr>
                      <td class="add-img-selector">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox">
                          </label>
                        </div>
                      </td>
                      <td class="add-img-td">
                        <a href="ads-details.html">
                          <img class="img-fluid" src="assets/img/item/img-2.jpg" alt="img">
                        </a>
                      </td>
                      <td class="ads-details-td">                        
                        <h4><a href="ads-details.html">Sony Xperia dual sim 100% brand new iPad</a></h4>
                        <p> <strong> Posted On </strong>:
                        02-Oct-2020, 04:38 PM </p>
                        <p> <strong>Visitors </strong>: 221 <strong>Located In:</strong> New York </p>                        
                      </td>
                      <td class="price-td">                        
                        <strong> KSH 74</strong>                        
                      </td>
                      <td class="action-td">
                        <p><a class="btn btn-primary btn-xs"> <i class="fas fa-pencil-square-o"></i> Edit</a></p>
                        <p><a class="btn btn-info btn-xs"> <i class="fas fa-share-square-o"></i> Share</a></p>
                        <p><a class="btn btn-danger btn-xs"> <i class=" fas fa-trash"></i> Delete</a></p>
                      </td>
                    </tr>
                    <tr>
                      <td class="add-img-selector">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox">
                          </label>
                        </div>
                      </td>
                      <td class="add-img-td">
                        <a href="ads-details.html">
                          <img class="img-fluid" src="assets/img/item/img-3.jpg" alt="img">
                        </a>
                      </td>
                      <td class="ads-details-td">
                        <h4><a href="ads-details.html">Digital Cameras brand new</a></h4>
                        <p> <strong> Posted On </strong>:
                        02-Oct-2020, 04:38 PM </p>
                        <p> <strong>Visitors </strong>: 221 <strong>Located In:</strong> New York </p>
                      </td>
                      <td class="price-td">
                        <strong> KSH 49</strong>
                      </td>
                      <td class="action-td">
                        <p><a class="btn btn-primary btn-xs"> <i class="fas fa-pencil-square-o"></i> Edit</a></p>
                        <p><a class="btn btn-info btn-xs"> <i class="fas fa-share-square-o"></i> Share</a></p>
                        <p><a class="btn btn-danger btn-xs"> <i class=" fas fa-trash"></i> Delete</a></p>
                      </td>
                    </tr>
                    <tr>
                      <td class="add-img-selector">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox">
                          </label>
                        </div>
                      </td>
                      <td class="add-img-td">
                        <a href="ads-details.html">
                          <img class="img-fluid" src="assets/img/item/img-4.jpg" alt="img">
                        </a>
                      </td>
                      <td class="ads-details-td">
                        <h4><a href="ads-details.html">Samsung Galaxy dual sim 100% brand new</a></h4>
                        <p> <strong> Posted On </strong>:
                        02-Oct-2020, 04:38 PM </p>
                        <p> <strong>Visitors </strong>: 221 <strong>Located In:</strong> New York </p>
                      </td>
                      <td class="price-td">
                        <strong> KSH 149</strong>
                      </td>
                      <td class="action-td">
                        <p><a class="btn btn-primary btn-xs"> <i class="fas fa-pencil-square-o"></i> Edit</a></p>
                        <p><a class="btn btn-info btn-xs"> <i class="fas fa-share-square-o"></i> Share</a></p>
                        <p><a class="btn btn-danger btn-xs"> <i class=" fas fa-trash"></i> Delete</a></p>
                      </td>
                    </tr>
                    <tr>
                      <td class="add-img-selector">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox">
                          </label>
                        </div>
                      </td>
                      <td class="add-img-td">
                        <a href="ads-details.html">
                          <img class="img-fluid" src="assets/img/item/img-5.jpg" alt="img">
                        </a>
                      </td>
                      <td class="ads-details-td">
                        <h4><a href="ads-details.html">Brand New Macbook Pro</a></h4>
                        <p><strong> Posted On </strong>: <span>02-Oct-2020, 04:38 PM </span></p>
                        <p><strong>Visitors</strong>: <span>221</span> <strong>Located In:</strong> <span>New York</span></p>
                      </td>
                      <td class="price-td">
                        <strong> KSH 168</strong>
                      </td>
                      <td class="action-td">
                        <p><a class="btn btn-primary btn-xs"> <i class="fas fa-pencil-square-o"></i> Edit</a></p>
                        <p><a class="btn btn-info btn-xs"> <i class="fas fa-share-square-o"></i> Share</a></p>
                        <p><a class="btn btn-danger btn-xs"> <i class=" fas fa-trash"></i> Delete</a></p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>               
            </div>
          </div>
        </div>  
      </div>      
    </div>
    <!-- End Content -->

   <!-- Search wrapper Start -->
   <div id="search-row-wrapper">
        <br><br>
      <div class="container">
        <div class="search-inner"  >
          <!-- Start Search box -->
              
          <div class="search-bar row " style="box-shadow: -8px 27px 66px -12px rgba(110,109,110,1); border-radius: 50px;">
              <fieldset>
                <form class="search-form">
                  <div class="form-group">
                    <i class="lni-bullhorn"></i>
                    <input type="text" name="customword" class="form-control" placeholder="What are you looking for">
                  </div>
                  <div class="form-group">
                    <div class="tg-select">
                      <select>
                        <option value="none">All Categories</option>
                        <option value="none">Electronics</option>
                        <option value="none">Items For Sale</option>
                        <option value="none">Jobs</option>
                        <option value="none">Personals</option>
                        <option value="none">Real Estate</option>
                        <option value="none">Services</option>
                        <option value="none">Vehicles</option>
                      </select>
                      <!-- <i class="fas fa-angle-down"></i> -->
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="tg-select">
                      <select>
                        <option value="none">All Locations</option>
                        <option value="none">Nairobi</option>
                        <option value="none">Kisumu</option>
                        <option value="none">Mombasa</option>
                        <option value="none">Nakuru</option>
                        <option value="none">Eldoret</option>
                        <option value="none">Kiambu</option>
                        <option value="none">Machackos</option>
                        <i class="fas fa-angle-down"></i>
                      </select>
                   
                    </div>
                  </div>
                  <button class="btn btn-common col-xs-8 col-sm-8 " type="button"><i class="lni-search"></i> Search Now</button>
                </form>
              </fieldset>
            </div>
          <!-- End Search box -->
        </div>
      </div>
    </div>
    <!-- Search wrapper End -->  

    <!-- Main container Start -->  
    <div class="main-container">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-12 col-xs-12 page-sidebar">
            <aside>
              <div class="inner-box">
                <div class="categories">
                  <div class="widget-title">
                    <i class="fas fa-align-justify"></i>
                    <h4>All Categories</h4>
                  </div>
                  <div class="categories-list">
                    <ul>
                      <li>
                        <a href="#">
                          <i class="fas fa-desktop"></i>
                          Electronics <span class="category-counter">(6,088)</span>
                        </a>
                      </li>
                      
                      
                    </ul>
                  </div>
                </div>
              </div>

              <div class="inner-box">
                <div class="widget-title">
                  <h4>Premium Ads</h4>
                </div>
                <div class="advimg">
                  <ul class="featured-list">
                    <li>
                      <img alt="" src="../../../static/assets/img/pel.jpg">
                      <div class="hover">
                        <a href="#"><span>KSH 49</span></a>
                      </div>
                    </li>
                    <li>
                      <img alt="" src="../../../static/assets/img/pel.jpg">
                      <div class="hover">
                        <a href="#"><span>KSH 49</span></a>
                      </div>
                    </li>
                    <li>
                      <img alt="" src="../../../static/assets/img/pel.jpg">
                      <div class="hover">
                        <a href="#"><span>KSH 49</span></a>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="inner-box">
                <div class="widget-title">
                  <h4>Advertisement</h4>
                </div>
                <img src="../../../static/assets/img/img1.jpg" alt="">
              </div>
            </aside>
          </div>

          <div class="col-lg-9 col-md-12 col-xs-12 page-content">
            <!-- advert filter Start -->
            <div class="advert-filter">
              <div class="grid-list-count">
                <a class="list switchToGrid" href="#"><i class="fas fa-list"></i></a>
                <a class="grid switchToList" href="#"><i class="fas fa-th-large"></i></a>
              </div>
              <div class="short-name">
                <span>Short By</span>
                <form class="name-ordering" method="post">
                  <label>
                    <select name="order" class="orderby">
                      <option selected="selected" value="menu-order">Short by</option>
                      <option value="popularity">Price: Low to High</option>
                      <option value="popularity">Price: High to Low</option>
                    </select>
                  </label>
                </form>
              </div>
              <div class="Show-item">
                <span>Show Items</span>
                <form class="woocommerce-ordering" method="post">
                  <label>
                    <select name="order" class="orderby">
                      <option selected="selected" value="menu-order">49 items</option>
                      <option value="popularity">popularity</option>
                      <option value="popularity">Average ration</option>
                      <option value="popularity">newness</option>
                      <option value="popularity">price</option>
                    </select>
                  </label>
                </form>
              </div>
            </div>
            <!-- advert filter End -->
         
            <!-- Adds wrapper Start -->
            <div class="adds-wrapper">
              <div class="item-list">
                <div class="row">
                  {% if adverts %}
                  {% for advert in adverts %}
                  <div class="col-sm-2 no-padding photobox">
                    <div class="add-image">
                      <a href=""><img src="{% if advert.image %} {{ image.image.cdn_url }} {% else %} {% static 'img/default.png' %} {% endif %} "alt=""></a>
                      <span class="photo-count"><i class="fas fa-camera"></i>2</span>
                    </div>
                  </div>
                  <div class="col-sm-7 add-desc-box">
                    <div class="add-details">
                        <!-- " {% url 'adverts:advert_detail' id=advert.id slug=advert.slug %}" -->
                      <h5 class="add-title"><a href= " {% url 'adverts:advert_detail' id=advert.id slug=advert.slug %}" > {{advert.name}} </a></h5>
                      <div class="info">
                        <span class="add-type">B</span>
                        <span class="date">
                          <i class="fas fa-clock"></i>
                          {{advert.pub_date}}
                        </span> 
                        <span class="category">{{advert.category}}</span> 
                        <span class="item-location"><i class="fas fa-map-marker"></i> {{advert.location}} </span>
                      </div>
                      <div class="item_desc">
                        <a href="">{{advert.description}}</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3 float-right  price-box">
                    <h2 class="item-price">KSH  {{advert.price}}</h2>
                    <a class="btn btn-danger btn-sm"><i class="fas fa-certificate"></i>
                    <span>Top Ads</span></a> 
                    <a class="btn btn-common btn-sm"> <i class="fas fa-eye"></i> <span>215</span> </a> 
                  </div>
               
                  
                </div>
               
             
         

              </div>
           
            </div>
            {% endfor %}
            {% endif %}
            <!-- Adds wrapper End -->
               
            <div class="col-12">
              <!-- Start Pagination -->
              <!-- <div class="pagination-bar">
                 <nav>
                  <ul class="pagination">
                    <li class="page-item"><a class="page-link active" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#"> ...</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                  </ul>
                </nav>
              </div> -->
              <!-- End Pagination -->

              <!-- <div class="post-promo text-center" style="box-shadow: -8px 27px 66px -12px rgb(167, 167, 167);border-radius: 20px; ">
                <h2> Do you get anything for sell ? </h2>
                <h5>Sell your adverts online FOR FREE. It's easier than you think !</h5>
                <a href="post-ads.html" class="btn btn-post btn-common2">Post a Free Ad </a>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Main container End -->  
   <!-- Footer Section Start -->
<!--  -->

{% include "base/js.html" %}  
  <div id="ajax_response_login"></div>
  <div id="ajax_response_register"></div>
  <div id="ajax_logout"></div>
  <div id="fb-root"></div>
{% endblock content %}
