{% load static %}
<aside>
        <div class="col-lg-12 col-md-12 col-xs-12 text-center" style="box-shadow: 0px 3px 9px 2px rgba(0,0,0,0.21);">
            <br>
            {% if request.user %}
            <div class="sidebar-box">
                <div class="user">
                  <div class="usercontent">
                  
                  </div>
                  {% if user.client.profile_pic %}
                  <figure>
                      <a href="#"><img class="-img-fluid" src="{{user.client.profile_pic.url}}" alt=""></a>
                    </figure>
                    {% else %}
                  <figure>
                    <a href="{% url 'account:update_profile'  %}"><img class="-img-fluid" src="{% static 'assets/img/author/img1.jpg' %}" alt=""></a>
                  </figure>
                  {% endif %}
                </div>
              </div>
            <h4 class="widget-title">{{ user.first_name |upper }} {{user.last_name |upper }} </h4>
            
            <div class="row justify-content-center">

             
             
                    <a class=" btn-sm btn-white  " style=" margin: 3px; " href="{% url 'account:view_messages'  %}" >  
                    <i class="fas fa-home"></i>
                    <span>Account Home</span></a> 

                    <a class="btn-sm btn-white  " style=" margin: 3px; " href="{% url 'account:view_my_ads' user_id=request.user.id  %}" > 
                      <i class="fas fa-store"></i>
                      <span>My Ads</span></a> 

                      <a class="btn-sm btn-white  " style=" margin: 3px; " href="{% url 'account:view_who_watched'  %}" > 
                          <i class="fas fa-bar-chart"></i>
                          <span>My Ads Statistics</span></a> 

                      <a class="btn-sm btn-white  " style=" margin: 3px; " href="{% url 'account:view_saved_ads'  %}" > 
                              <i class="fas fa-bookmark "></i>
                        <span>Saved Ads</span></a> 
                      

                      <a class="btn-sm btn-white  " style=" margin: 3px; " href="{% url 'account:view_messages'  %}"  >  
                          <i class="fas fa-envelope"></i>
                          <span>Inbox messages</span></a>

                          <a class="btn-sm btn-white  " style=" margin: 3px; " href="{% url 'landpage:contact_us'  %}" > 
                              <i class="fas fa-phone "></i>
                        <span>Contact Support</span></a> 
                    
              
             
                
                      </div> 
                        <br>
        </div>

        {% endif %}
        <!-- <div class="widget">
          <h4 class="widget-title">Advertisement</h4>
          <div class="inner-box">
            <div class="add-box">
              <img class="img-fluid" src="assets/img/img1.jpg" alt="">
            </div>
          </div>
        </div> -->
      </aside>