{% extends 'base/advertbase.html' %}
{% load static %}
{% block content %}
{% block title %} YUMI | Ad Detail {% endblock %}
    <!-- Start Content -->
    <div id="content">
            <div class="container">
              <div class="row">
                  <!-- Product Info Start -->
                  <div class="col-lg-8 col-md-12 col-xs-12">
                    <div class="inner-box ads-details-wrapper">
                      <h2>{{advert.name}}</h2>
                      <a href="" target="_blank"><i class=" fas fa-phone"></i> 087887788 </a>
               
                      <div id="owl-demo" class="owl-carousel owl-theme">
                        <div class="item">
                          <div class="product-img">
                            
                            <img class="img-fluid"  style="width:30%; height: 70%;" src="{% if advert.image %} {{advert.image.url}} {% else %} {% static 'img/default.png' %} {% endif %} "alt="">
                          </div>
                        </div>
                        <!-- <div class="item">
                          <div class="product-img">
                            <img class="img-fluid" src="assets/img/pel.jpg" alt="">
                          </div>
                        </div>
                        <div class="item">
                          <div class="product-img">
                            <img class="img-fluid" src="assets/img/pel.jpg" alt="">
                          </div>
                        </div> -->
                      </div>
                    </div>
      
                    <div class="box">
                      <h2 class="title-2"><strong>Ad Details</strong></h2>
                        <div class="row">
                        <div class="ads-details-info col-md-8">
                          <p class="mb15">{{advert.description}}</p>
                          <ul class="list-circle">
                            <li><i class="fas fa-check-circle"></i> {{advert.more_details}} </li>
                           
                        </div>
                        <div class="col-md-4">
                          <aside>
                            <ul class="panel-details">
                                <li>
                                    <a href="#">Posted by <i class=" fas fa-user"></i> {{advert.user.first_name }} {{advert.user.last_name }}</a></li>
                                  <li>
                              <li>
                                  <p class="no-margin"><strong>Contact:</strong>   <a href="#"> {{advert.user.phone_number}} </a></li>
                              <li>
                              <li>
                                <p class="no-margin"><strong>Category:</strong> <a href="#">{{advert.category}}</a></p>
                               </li>
                              <li>
                              <p class=" no-margin "><strong>Price:</strong> {{advert.price}}</p>
                              </li>
                              
                              <li>
                              <p class="no-margin"><strong>Type:</strong> <a href="#"> {{advert.type}}</a></p>
                              </li>
                              <li>
                              <p class="no-margin"><strong>Location:</strong> <a href="#"> {{advert.location}}</a></p>
                              </li>
                              <li>
                              <p class=" no-margin "><strong>Condition:</strong> {{advert.item_condition}} </p>
                              </li>
                              <li>
                              <li>
                               <p class=" no-margin "><strong>Shipment:</strong> {{advert.option}}</p>
                                </li>

                            </ul>
                          </aside>
      
                          <div class="ads-action mt-2">
                            <ul class="list-border">
                              
                           
                              
                                  <!-- <div class="item_desc">
                                      <form action="{url 'adverts:like_ad' id=advert.id   }" method="post">
                                          {% csrf_token %}
                                          <p><button class="btn btn-danger btn-xs" type="submit" name="advert_id" value="{advert.id}" >  <i class=" fas fa-heart"></i> Like</button></p>
                                          </form> 
                                        </div> -->
                               
                                        <p><button class="btn btn-danger btn-xs" type="submit" name="advert_id" value="{advert.id}" >  <i class=" fas fa-heart"></i> Like</button></p>

                                        <a href="#"> <i class="fa fa-share-alt"></i> Share </a>
                                        <a href="#"> <i class=" fas fa-heart"></i> Save ad</a></li>
                                <div class="social-link mt-2">  
                               

                                <!-- <a class="twitter" target="_blank" data-original-title="twitter" href="#" data-toggle="tooltip" data-placement="top"><i class="fab fa-twitter"></i></a>
                                <a class="facebook" target="_blank" data-original-title="facebook" href="#" data-toggle="tooltip" data-placement="top"><i class="fab fa-facebook-f"></i></a>
                                <a class="google" target="_blank" data-original-title="google-plus" href="#" data-toggle="tooltip" data-placement="top"><i class="fab fa-google-plus"></i></a>
                                <a class="linkedin" target="_blank" data-original-title="linkedin" href="#" data-toggle="tooltip" data-placement="top"><i class="fab fa-linkedin"></i></a> -->
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                
                  <div class="col-lg-4 col-md-12 col-xs-12">
                    <div class="inner-box">
                      <div class="widget-title">
                        <h4>Seller profile</h4>
                      </div>
                      <h3>  For sale by <a style="color:rgb(255, 0, 0)" href="">{{advert.user.first_name }} {{advert.user.last_name }}</a></h3> </p>
                      <strong> Member since: </strong> {{advert.user.date_joined }}
                      <p class="item-intro"><span class="poster">  <span class="ui-bubble is-member"></span> <span class="date">  <strong>Ad Posted on</strong>  {{advert.pub_date}} </span><strong> from </strong> <span class="location">{{advert.location}}</span></p>
                       <br>
                      <div class="features-content">
                        <h5> <span class="lnr lnr-checkmark-circle"></span> Verified Seller </h5>
                      </div>
                     <p> <span  class="lnr lnr-thumbs-up">  <strong> Liked by </strong>  0</span></p> 
                      <p> <span  class="lnr lnr-thumbs-down">  <strong>Disliked by</strong> 0</span></p>
                   
                      
                      <!-- rating.js file -->
                      <script src="js/addons/rating.js"></script>
                    </div>
                    <div class="col-xs-12">
                      <div class="features-box wow fadeInDownQuick" data-wow-delay="0.3s">
                        <div class="features-icon">
                          <i class="lnr lnr-star">
                          </i>
                        </div>
                        <div class="features-content">
                          <h4>
                            Fraud Protection
                          </h4>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aut magni perferendis repellat rerum assumenda facere. 
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="features-box wow fadeInDownQuick" data-wow-delay="0.6s">
                        <div class="features-icon">
                          <i class="lnr lnr-chart-bars"></i>
                        </div>
                        <div class="features-content">
                          <h4>
                            No Extra Fees 
                          </h4>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aut magni perferendis repellat rerum assumenda facere. 
                          </p>
                        </div>
                      </div>
                    </div>
                  
                  </div>
              </div>         
            </div>
            </div>
            <!-- End Content -->
      
            <!-- Related Products Start -->
            <section class="featured-lis"style="background-color: #f5f5f5;" >
              <div class="container">
                  <br>
                  <br>
                  <div class="tg-sectionhead">
                      <div class="tg-title text-right">
                        <h2>Related Products</h2>
                      </div>
                      <div class="tg-description  text-right">
                        <!-- <p>Over 490  Featured Ads</p> -->
                      </div>
                    </div>
                <div class="row">
                    <div class="post-promo text-center" style="box-shadow: 1px 1px 53px -23px rgba(0,0,0,0.75); ">
                        <h2> No Items related to <strong>{{advert.name}} </strong> on Site, Currently </h2>
                        <h5>Sell your products online FOR FREE. It's easier than you think !</h5>
                        <a href="{% url 'adverts:post_ad' %}" class="btn btn-post btn-common2">Post a Free Ad </a>
                        <!-- <div class="item_desc">
                            <a href=" #"> <strong>How we work </strong></a>
                          </div> -->
                      </div> 
                </div>
              </div>
            </section>
            {% include "base/js.html"  %}
            <div id="ajax_response_login"></div>
            <div id="ajax_response_register"></div>
            <div id="ajax_logout"></div>
            <div id="fb-root"></div>
       {% endblock content %}
               